<!DOCTYPE>
<HTML>
  <head>
    <title>camchecker</title>{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">
  </head>
  <body>
    <div class="container">
      <form id="addressesForm"action="/runCheck/" method="POST"> {% csrf_token %}
        <a href="/"><h3>camChecker</h3></a>
        <h4>Plase Enter IPaddresses Range</h4>
        <fieldset>
          <input type="text" id="srange" name="srange" placeholder="Start Range IP" value="192.168.0.0">
        </fieldset>
        <fieldset>
          <input type="text" id="erange" name="erange" placeholder="End Range IP" value="192.168.3.14">
        </fieldset>
        <fieldset>
          <input type="number" id="threads" name="threads" placeholder="End Range IP" min="1" max="1024" value="512">
        </fieldset>
        <textarea name="ignore" rows="30" cols="100" placeholder="Enter ignored IPs separated by newline">192.168.2.8</textarea>
        </fieldset>
        <button name="submit" type="submit" id="addressesForm-submit" data-submit="...Sending">Submit</button>
        </fieldset>
        <p class="copyright">Designed by <a href="https://github.com/iamsajjad" target="_blank"
                                                                                title="Sajjad:GitHub">Sajjad</a> using Quickping Package</p>
      </form>
    </div>
    </form>
    {% if start %}
    <div id="addressesForm">
      <p>Start range @ {{ start }}</p><br>
      <p>End range @ {{ end }}</p><br>
      <p>Number of addresses : {{ addresses }}</p><br>
      <p>Time take to process : {{ timeToDone }}</p><br>
      <br>
      <p><b>Ignored Addresses</b></p>
      {% for address in ignore %}
      <br><p class="ignored">{{ address }}</p>
      {% endfor %}
      <br>
      <br>
      <p><b>Active Cams</b></p>
      <br>
      {% for cam in active %}
      <p class="activeAddress">CAM{{ forloop.counter }} @ {{ cam }} </p> <p class="emo" >✔️</p>
      <br>
      {% endfor %}
      <br>
      <p><b>Deactive Cams</b></p>
      <br>
      {% for cam in deactive %}
      <p class="deactiveAddress">CAM{{ forloop.counter }} @ {{ cam }} </p> <p class="emo" >❌</p>
      <br>
      {% endfor %}
    </div>
    {% endif %}
  </body>
</HTML>
